.line {
    height: 6px;
    width: 70px;
    margin: 8px auto;
}

body {
    text-align: center;
}

h2 {
    text-align: center !important;
}


body {
    background-color: blue;
    font-family: monospace;
    font-size: 18;
    text-align: center;
}

#subscribe {
    width: 70%;
    border: 5px;
    border-radius: 250px;
    border-color: turquoise;
    border-style: groove;
}

h1 {
    text-align: center;
    font-size: 50;
}

#profile {
    width: 15%;
    border: 5px;
    border-radius: 250px;
    border-style: solid;
    text-align: center;
    border-color: cyan;
}

#minezhex4 {
    width: 75%;
    border: 2px;
    border-radius: 250px;
    text-align: center;
    border-style: dashed;
    border-color: crimson;
}

#minezhex4pic1 {
    width: 25%;
    border: 2px;
    border-radius: 150px;
    text-align: left;
    border-style: outset;
}

#mail1 {
    text-align: left;
}

h2 {
    text-align: left;
}

#Home {
    width: 100%;
    height: 800px;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
}

#Welcome {
    background-color: darkorange;
    width: 100%;
    height: 800px;

}

#Ouryoutube {
    background-color: firebrick;
    width: 100%;
    height: 800px;
}

#work {
    background-color: darkturquoise;
    width: 100%;
    height: 800px;
}

#contact {
    background-color: chartreuse;
    width: 100%;
    height: 800px;
}

.container {
    text-align: center;
}

#my_carousel {
    background: linear-gradient(#020024 0%, #090979 35%, #00d4ff 100%);
}

#my_carousel iframe {
    height: 500px;
    width: 800px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-top: 30px;
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
}

.menu {
    list-style: none;
    position: fixed;
    font-family: cursive;
    cursor: pointer;
    z-index: 10;
    top: 0px;
    background: black;
    background-position: center;
    width: 100%;
    margin-top: 0px;
    color: blue !important;
}

.links {
    color: blue !important;
    padding-right: 0px;
    padding-left: 33px;
    font-size: 24px;
    display: inline;
    text-align: center;
    height: 100%;
}

.links: hover {
    text-decoration: inherit;
    font-size: 25px;
    color: blue !important;
}

#contact iframe {
    width: 100%;
}

#envolope{
    width: 20px;
    height: 20px;
}

a {
    text-decoration: none;
    color: red !important;
    text-shadow: 2px 2px blue !important;
}

#mail {
    text-shadow: none;
}

#writings a {
    text-shadow: none !important;
    text-decoration: underline !important;
    color: red !important;
}

#contact {
    background-color: coral;
}

.contact_1 h3 {
    display: inline;
}
}

#subscribe {
    transition: transform .2s;
}

#subscribe:hover {
    transform: scale(0.9);
}

#descripition_about {
    color: white;
}

.carousel-indicators{
    text-shadow: none !important;
}
#videos{
    background-color: darkturquoise;
}